<div class="container-fluid">
    <div class="row">
        <div class="card p-0 col-6 offset-3">
            <div class="card-header">
                <h4 class="text-center">¿Está seguro que desea borrar la región {{region.name}}?</h4>
            </div>
            <div class="card-body">
                <form action="/deleteRegion" method="post">
                    <input type="hidden" name="id" value="{{region.id}}" />

                    <button class="btn btn-danger" type="submit">Aceptar</button>
                    <a href="/regions" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>